$color1: #ffffff;
$headingColor:#29227d;

$bold:bold;

@font-face {
    font-family: labelFont;
    src:url(/fonts/Anton-Regular.ttf);
}

@font-face {
    font-family: textFont;
    src:url(/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}